/* You can add global styles to this file, and also import other style files */

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #212121;
    background-color: #fff;
}

h2.title {
    font-size: 24px;
}
.page-layout {
    background: #f5f5f5;
    background: linear-gradient(#fff 50px, #f5f5f5 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.page-layout .page-content {
    padding: 40px 0;
}

.page-layout .page-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.form-control, .btn {
    border-radius: 0;
    height: 36px;
}

.page-header {
    border-bottom: 1px solid rgb(228, 228, 228);
    margin: 0;
    padding: 12px 0;
    position: relative;
    background: #0F1941;
}

.primary-logo .link {
    display: block
}

.primary-logo .link:focus,
.primary-logo .link:hover {
    text-decoration: none
}

.primary-logo .brand {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5
}

.primary-logo .logo{
    background-position: left 50%;
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.primary-logo .logo
{
    background-size: cover;
    text-indent: -999px
}

.primary-logo .logo {
    height: 31px;
    width: 210px;
    background-image: url("/assets/img/logo.svg");
}


.card {
    border: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 0;
}

.card .card-content {
    padding: 20px 20px 20px 316px;
    position: relative;
    min-height: 185px;
}


.card .card-content~.card-content {
    border-top: 1px solid #e0e0e0
}

.card .card-footer .btn-link,
.card .card-footer .link,
.card .card-header .btn-link,
.card .card-header .link {
    font-size: 14px;
    font-weight: 400
}
 
 .card .card-content .form-control {
     border-radius: 0;
     width: 80px !important;
     padding-right: 2px;
     height: 24px;
     text-align: center;

 }

.card .card-header {
    margin-bottom: 16px
}

.card .card-header:last-child {
    margin-bottom: 0
}

.card .card-header .subtitle,
.card .card-header .title {
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    margin: 0
}

.card .card-footer {
    margin-top: 16px
}

.page-footer {
    margin-top: 56px;
    padding-bottom: 20px;
    width: 100%;
    color: #fff;
    background-color:#0F1941;;
    padding: 20px 0;
}

.page-footer .legal-nav {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}



@media (max-width:767px) {
    .card .card-content {
        padding: 20px;
        height: auto;
    }   
}



.form-control {
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.26);
}

.form-control,
.form-control:focus {
  box-shadow: none;
}

form label {
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 4px;
}

.invalid-error {
    font-weight: 500;
    color: #d80000;
    margin-top: 5px;    
    display: block;
}

